@import url("../../App.css");

.navbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.leftarrowicon {
  position: relative;
  left: 70px;
  cursor: pointer;
}

.navbar__title {
  margin-right: auto;
  font-size: 17px;
  margin-left: 71px;
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input:focus {
  outline: none;
}

.navbar__title > img {
  padding: 0px 10px;
}

.navbar__item {
  padding: 10px 30px 10px 0px;

  /* vertical-align: middle; */
}
.newboardbuttt {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px 10px 14px;
  background-color: var(--add-board);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.addlogooo {
  margin-right: 5px;
}

.searchbarrrr {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: 10px 14px 10px 14px;
  margin-right: 2rem;
  border-radius: 6px;
}

.searchbarr2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 3px 11px 3px;
  color: var(--icon-color);
}

.leftcorner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.savelogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 3px 11px 3px;
  color: var(--icon-color);
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  right: 21.5px;
  padding: 11px 3px 11px 3px;
  color: var(--icon-color);

  /* padding: 10px 3px 10px 3px; */
}

.searchiconnnnn {
  font-size: 18px;
  margin-right: 10px;
}

.inputboxxx {
  border: none;
  font-size: 14px;
}

.titleeeee {
  color: var(--logo-color);
  font-weight: 600;
}

.titleeeee2 {
  color: var(--post-head);
  font-weight: 700;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon {
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 6px;
}

.search-input {
  overflow: hidden;
  height: 0;
  transition: height 0.4s;
}

.search-input.active {
  height: 35px;
}

.search-input input {
  width: 180px;
  padding: 8px;
  border: 1px solid var(--border-color);
  margin-top: 2px;
  border-radius: 4px;
  transition: width 0.3s;
}

.search-input.active input {
  width: 200px;
}
