.containerr {
  display: flex;
  flex-direction: column;
}

.nameofnewboard {
  font-weight: 700;
  font-size: 20px;
}

.newboardtitle {
  margin-top: 1rem;
}

.newboardtitle1 {
  border: 1px solid #dbdbdb;
  /* height: 45px; */
  padding: 15px;
  border-radius: 5px;
  width: 95%;
  font-size: 1rem;
}

.selectpostcolor {
  font-weight: 700;
  font-size: 20px;
  margin-top: 3rem;
}

.mutedtext {
  font-size: 1rem;
  size: 14px;
  color: #2b2b2b;
}

.coloroptions {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bluecolor,
.violetcolor,
.pinkcolor,
.yellowcolor {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.bluecolor {
  background-color: var(--blue);
}

.violetcolor {
  background-color: var(--violet);
}
.pinkcolor {
  background-color: var(--pink);
}
.yellowcolor {
  background-color: var(--yellow);
}

.addboardbuttonn {
  display: flex;
  justify-content: flex-end;
}

.addboardbuttonnew {
  border: none;
  padding: 10px 13px 10px 13px;
  color: white;
  font-size: 1rem;
  background-color: var(--add-post);
  margin-top: 4rem;
  border-radius: 6px;
  cursor: pointer;
}
