:root {
  --blue: #a7f0f9;
  --violet: #c5c5fc;
  --pink: #ffaec0;
  --yellow: #ffcc66;
  --teal: #23856d;
  --add-board: #d33852;
  --add-post: #af273e;
  --border-color: #ebebeb;
  --logo-color: #717171;
  --post-head: #222222;
  --icon-color: #b0b0b0;
}
